div {
    background-color:solid black;
    border: 25px solid blue;
    padding: 10px;
    margin: 2px;
}
body {
    background-image: url("https://www.xmple.com/wallpaper/blue-black-beehive-hexagon-honeycomb-1920x1080-c2-000000-0000cd-l2-11-139-a-30-f-5.svg");
}
body {
color:#fff;
}